<mat-card class="example-card">

  <mat-card-title>Titulo </mat-card-title>
  <mat-card-subtitle>author</mat-card-subtitle>

  <img style="max-width:100%;" mat-card-mid-image src="https://cdn.pixabay.com/photo/2012/03/01/01/47/man-20404_960_720.jpg">

  <mat-card-content style="margin-top: 20px;"><strong>Hats!</strong> The trend this summer is hats for men!
    Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies
      mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</mat-card-content>

</mat-card>
