<div class="container">
  <div class="row">
    <mat-card class="mt-3 col-4" *ngFor=" let _article of articles">
      <a [routerLink]="['/artigo', _article.id]" > 
      <mat-card-title>{{_article.title}}</mat-card-title>
      <mat-card-subtitle>{{_article.author}}</mat-card-subtitle>
      <img style="max-width:100%;" mat-card-mid-image
        src="https://cdn.pixabay.com/photo/2012/03/01/01/47/man-20404_960_720.jpg">
      <mat-card-content class="card-text">{{_article.text}}</mat-card-content>
    </a>
    </mat-card>
  </div>
</div>